.container {
  border: 1px dashed gray;
  width: 100%;
  padding: 10px;
}

.top-div {
  display: flex;
  justify-content: center;
}

.bus-company-name {
  font-size: 14px;
  font-weight: bold;
}

.company-address {
  font-size: 10px;
  margin-bottom: 3px;
}

.branch-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  column-gap: 0px;
  row-gap: 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
}

.branch-numbers p {
  font-size: 5px;
}

.top-right {
  text-align: left;
}

.top-right img {
  height: 60px;
  width: 100px;
}

.email {
  font-size: 9px;
  margin-top: 1px;
  text-align: center;
}

.body {
  /* border: 1px solid red; */
  /* width: 75%; */
  margin: 0 auto;
  padding: 5px;
}

.bl-busno-date-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-weight: bold;
}

.bl-busno-date-div span {
  font-weight: normal;
}

.bl-value {
  color: red;
}

.busno-date {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sender-receiver-div {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.details-title-text {
  font-size: 1em;
  color: black;
}

.details-value-text {
  display: block;
  white-space: nowrap;
  width: auto;
  padding-right: 1rem;
  font-size: 1em;
  font-weight: bold;
  color: black;
  border-bottom: 1px dashed #333;
}

.signatures-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 30px;
}

.signatures-section p {
  width: 250px;
  border-top: 1px solid black;
  font-weight: 500;
  padding-top: 3px;
  text-align: center;
}

.dashed-line {
  border-bottom: 2px dashed black;
  margin: 10px 0;
}

.acknowledgement-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.acknowledgement-div p {
  font-size: 10px;
  text-align: center;
}

.acknowledgement-div h5 {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 16px;
  font-size: 14px;
  padding-top: 3px;
  width: 250px;
  border-top: 1px solid black;
}

.acknowledgement {
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}
