a {
    text-align: center;
    border: 1px solid teal;
    background-color: teal;
    color: white;
    text-decoration: none;
    padding: 2px 3px;
}

.content-to-print-container {
  border: 1px dashed gray;
  width: 500px;
  padding: 15px;
}

.top-div {
  display: flex;
  justify-content: space-between;
}

.bus-company-name {
  font-size: 14px;
  font-weight: bold;
}

.company-address {
  font-size: 12px;
  margin-bottom: 3px;
}

.branch-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  column-gap: 0px;
  row-gap: 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
}

.branch-numbers p {
  font-size: 6px;

}

.small-text {
    font-size: 10px;
    margin-top: 3px;
}



.top-div-right {
    margin: 0 auto;
}


.top-div-right img {
    height: 60px;
    width: 100px;
}

.bill-of-lading {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.bill-of-lading span {
    color: red;
    font-weight: normal;
}

.shipping-details {
    border: .5px solid rgb(88, 87, 87);
    display: flex;
    margin-bottom: 15px;
    font-size: 12px;
}

.shipping-from div,.shipping-to div {
    border: .5px solid rgb(88, 87, 87);
    padding: 1px 3px;
}

.empty-div {
    border-top: 1px solid transparent !important;
    border-right: 1px solid rgb(88, 87, 87) !important;
    border-left: 1px solid rgb(88, 87, 87) !important;
    border-bottom: 1px solid rgb(88, 87, 87) !important;
    height: 18px;

}

.shipping-from {
    width: 100%;
}

.shipping-to {
    width: 100%;
}

.shipped-from-to {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}


.prepared-by-section {
    display: flex;
}

.prepared-by-section div {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.prepared-by {
    margin-bottom: 15px;
    
}

hr {
    width: 80%;
    margin: 0 auto;
}


.dashed-line {
    border-bottom: 1px dashed black;
    margin: 10px 0;
}

.acknowledgement-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.acknowledgement-section div {
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}

.acknowledgement-section p {
    font-size: 12px;
    font-style: italic;
}

.acknowledgement-section h5 {
    font-style: italic;
    border-top: 1px solid black;
    width: 200px;
    align-self: flex-end;
    margin-top: 25px;
    margin-bottom: 15px;
}

.original-senders-copy-section {
    display: flex;
}

.original-senders-copy-section > div {
    width: 100%;
}

.original {
    text-transform: uppercase;
    font-size: 14px;
    color: red;
    font-weight: bold;
    margin-bottom: 6px;
}

.printer-details {
    font-size: 8px;
}

.original-senders-copy-section span {
    font-weight: bold;
}

.consignee-section {
    font-size: 12px;
}

.consignee-section h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: normal;
    font-style: italic;
    border-top: 1px solid black;
}

.first-line {
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
}

.second-line {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}